element {
 opacity: 1;
 visibility: inherit;
}

.primary-navigation.white-nav {
 background-color: aliceblue;
 box-shadow: -7.5px 6.6px 14.6px 3.4px rgba(209, 213, 224, 0.16);
 transition: background-color 0s linear, box-shadow .25s linear;
 transition-property: background-color, box-shadow;
 transition-duration: 0s, 0.25s;
 transition-timing-function: linear, linear;
 transition-delay: 0s, 0s;
}

.show-notification .primary-navigation {
 top: 5.99813 rem;
}

.primary-navigation {
 left: 0;
 width: 100%;
 z-index: 99;
 position: fixed;
}

* {
 box-sizing: border-box
}

.primary-navigation .top-bar {
 width: 100%;
 padding-top: 0.75rem;
 padding-right: 0px;
 padding-bottom: 0.75rem;
 padding-left: 0px;
 position: relative;
 z-index: 6; 
}

* {
 box-sizing: border-box;
}

.primary-navigation .top-bar .content-wrap {
 margin-top: 0px;
 margin-right: auto;
 margin-bottom: 0px;
 margin-left: auto;
 max-width: 89.5vw;
 display: flex;
 flex-direction: row;
 border-bottom-color: transparent;
 border-bottom-style: solid;
 border-bottom-width: 1px;
}

* {
 box-sizing: border-box
}

/* Top Navigation Bar for logo */
.primary-navigation .top-bar .content-wrap .logo {
 font-size: 16px;
 font-weight: 700;
 letter-spacing: 1px;
 text-transform: uppercase;
 width: 160px;
 margin: auto;
 white-space: nowrap;
 height: 3rem;
 flex-grow: 0;
 display: flex;
 align-items: center;
}

/* Style the header links */
.primary-navigation .top-bar .content-wrap .logo a {
 float: left;
 color: black;
 margin-left: -8rem;
 text-align: center;
 padding: 12px;
 text-decoration: none;
 font-size: 18px;
 line-height: 25px;
 border-radius: 4px;
}

/* Change the background color on mouse over */
.primary-navigation .top-bar .content-wrap .logo a:hover {
 background-color: #ddd;
 color: black
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
 .primary-navigation .top-bar .content-wrap .logo a {
  float: none;
  display: block;
  text-align: left;
 }
}

.primary-navigation .top-bar .content-wrap .logo::before{
 background-color: #c50000;
 content: '';
 display: block;
 height: 3px;
 width: 100px;
 margin-left: -105px;
 position: absolute;
 top: 15px;
}

.primary-navigation .top-bar .content-wrap .logo::after{
 background-color: #c50000;
 content: '';
 display: block;
 position: absolute;
 left: 178px;
 bottom: 20px;
 height: 3px;
 width: 100px;
 margin-left: 29rem;
}

* {
 box-sizing: border-box;
}

/* Top navigation bar for links (search, language and nav links) */
.primary-navigation .top-bar .content-wrap .links {
 flex-grow: 1;
 display: flex;
 flex-direction: row-reverse;
 align-items: center;
}

* {
 box-sizing: border-box;
}

/* SEARCH */
a {
 color: inherit;
 text-decoration: none;
 background-color: transparent;
 line-height: 1.33333em;
 font-family: Lato,Helvetica Neue,Helvetica,Arial,sans-serif;
 font-weight: 400;
 position: relative;
 transition-property: all;
 transition-duration: 0.25s;
 transition-timing-function: linear;
 transition-delay: 0s;
}

.input-text, a{
 font-size: 1.125rem;
}

* {
 box-sizing: border-box;
}

.navigation-search-icon {
 margin-top: 0px;
 margin-right: 1rem;
 margin-bottom: 0px;
 margin-left: 1rem;
 width: 1.3125rem;
 height: 1.3125rem;
 position: relative;
 display: inline-block;
 vertical-align: middle;
}

* {
 box-sizing: border-box;
}

.navigation-search-icon svg {
 top: 0;
 left: 0;
 width: 1.3125rem;
 height: 1.3125rem;
 position: absolute;
}

* {
 box-sizing: border-box;
}

.navigation-search-icon path {
 transition-property: fill;
 transition-duration: 0.25s;
 transition-timing-function: linear;
 transition-delay: 0s;
}

* {
 box-sizing: border-box;
}

/* LANGUAGE */
* {
 box-sizing: border-box;
}

.language-selector {
 position: relative;
}

* {
 box-sizing: border-box;
}

.language-selector .current-language-url {
 padding-top: 0px;
 padding-right: 1rem;
 padding-bottom: 0px;
 padding-left: 1rem;
 text-transform: uppercase;
}

.icon-underline, .link-button {
 border: none;
 position: relative;
}

.link-button {
 color: #444;
 font-family: Lato,Helvetica Neue,Helvetica,Arial,sans-serif;
 font-size: 1.125rem;
 font-weight: 400;
 font-stretch: normal;
 font-style: normal;
 line-height: 1.67;
 letter-spacing: .02813rem;
 cursor: pointer !important;
 background: none !important;
 transition: all .25s linear;
}

.primary-navigation .top-bar .content-wrap .links li .link-button:hover {
 color: blue;
}

* {
 box-sizing: border-box;
}

.navigation-arrow-icon {
 margin-top: 0.625rem;
 width: .6875rem;
 height: .5rem;
 position: relative;
 display: inline-block;
 vertical-align: middle;
}

.navigation-arrow-icon svg {
 bottom: 6px;
 left: 1;
 width: .6875rem;
 height: .5rem;
 position: absolute;
}

.navigation-arrow-icon svg path {
 transition-property: fill;
 transition-duration: 0.25s;
 transition-timing-function: linear;
 transition-delay: 0s;
}

.language-selector .languages-dropdown-menu {
 visibility: hidden;
 opacity: 0;
 transition: visibility 0s linear .25s,opacity .25s;
 top: 95%;
 left: .375rem;
 z-index: 9999;
 position: absolute;
 border-radius: .3125rem;
 background-color: #fff;
 border: 1px solid #f1f1f1;
 box-shadow: -7.5px 6.6px 14.6px 3.4px rgba(209,213,224,.16);
}

.language-selector:hover .languages-dropdown-menu {
 visibility: visible;
 opacity: 1;
 transition: visibility 0s linear 0s, opacity 0.25s;
}

#f92-steps li, .f92-accordion-view-more ol, .f92-color-slate, .f92-enroll-section p, .f92-faq--p .f92-item-text, .f92-faqs .f92-item-text ol li, .f92-hero-section p, ul {
 color: #474647 !important;
}

dl, ol, ul {
 margin: 0;
 padding: 0;
 list-style-type: none;
 outline: none;
}

.language-selector .languages-dropdown-menu * {
 pointer-events: none;
}

li {
 display: block;
}

.primary-navigation .top-bar .content-wrap .links li .language-url, .primary-navigation .top-bar .content-wrap .links li a {
 padding-top: 0.5rem;
 padding-right: 1rem;
 padding-bottom: 0.5rem;
 padding-left: 1rem;
 color: #020621;
 line-height: 1.875rem;
 letter-spacing: .02813rem;
 transition: color .25s linear;
 display: block;
}

.language-selector .languages-dropdown-menu .language-url {
 font-size: .875em;
 line-height: 1.71429em;
 padding: 0 2rem;
 font-family: neue-haas-grotesk-display,Helvetica Neue,Helvetica,Arial,sans-serif;
 font-weight: 700;
 text-transform: uppercase;
}

.icon-underline, .language-url {
 border: none;
 position: relative;
}

.language-url {
 font-stretch: normal;
 font-style: normal;
 cursor: pointer !important;
 background: none !important;
}

.primary-navigation .top-bar .content-wrap .links li .language-url span {
 position: relative;
}

.primary-navigation .top-bar .content-wrap .links li .language-url span::after {
 content: " ";
 left: 0;
 bottom: -.3125rem;
 width: 0;
 height: .125rem;
 position: absolute;
 background-color: blue;
 transition: width 0.2s ease-in-out;
}

.primary-navigation .top-bar .content-wrap .links li .language-url:hover span::after {
 width: 100%;
 background-color: #1026a4;
}

.language-selector:hover .languages-dropdown-menu * {
 pointer-events: all;
}

*, ::after, ::before {
 box-sizing: inherit;
}