<!DOCTYPE html>
<html>
  <head>
    <title>ScholarSavings Banking System</title>
    <script type="text/javascript" src="{{ url_for('serve_static_js', filename = 'homepage.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('serve_static_css', filename='main_homepage.css') }}">
  </head>
  <body>
    <!-- Creating a primary navbar -->
    {% block content %}
    <nav class="primary-navigation white-nav" aria-label="Full Navigation Bar" style="opacity: 1; visibility: 1;">
      <!-- Top navigation bar -->
      <nav class="top-bar" aria-label="Top Navigation Bar">
        <div class="content-wrap">
          <!-- Logo and header (logo, header) -->
          <div class="logo" onclick="goToHomePage()" style="cursor: pointer;">
            <a class="" aria-current="page" aria-label="main_homepage" hreflang="en" href="{{ url_for('mainHomePage') }}"></a>
              <div class="header">
                <h1>
                  ScholarSavings
                </h1>
              </div>
          </div>
          <!-- Link and search (search, language, nav link) -->
          <div class="links">
            <div class="search">
              <a aria-label="Search" hreflang="en" href="/hcm/search/">
                <div class="navigation-search-icon">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21 21">
                    <path d="M11.68.16a8.81 8.81 0 00-6.28 15L.74 19.52a.76.76 0 00.53 1.32.74.74 0 00.52-.2l4.79-4.48a8.74 8.74 0 005.1 1.64 8.82 8.82 0 000-17.64zm0 16.1A7.29 7.29 0 1119 9a7.3 7.3 0 01-7.32 7.26z"></path>
                  </svg>
                </div>
              </a>
            </div>
            <!-- Select between 2 languages: english and french -->
            <div class="language">
              <div class="language-selector">
                <button class="link-button current-language-url" aria-pressed="false" aria-label="Language Selector">
                  <span>EN</span>
                  <div class="navigation-arrow-icon">
                    <svg viewbox="0 0 11 8">
                      <defs>
                        <style></style>
                      </defs>
                      <path d="M1.24.5h8.52a.77.77 0 01.58 1.24l-4.2 5.47A.71.71 0 015 7.22L.67 1.75A.77.77 0 011.24.5z"></path>
                    </svg>
                  </div>
                </button>
                <ul class="languages-dropdown-menu">
                  <li>
                    <button class="language-url" aria-pressed="false" aria-label="ENGLISH">
                      <span>
                        EN
                      </span>
                    </button>
                  </li>
                  <li>
                    <button class="language-url" aria-pressed="false" aria-label="FRANCAIS">
                      <span>
                        FR
                      </span>
                    </button>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </nav>
    {% endblock %}
  </body>
</html>