<!DOCTYPE html>
<html>
  <head>
    <title>ScholarSavings BANKING SYSTEM</title>
    <script type="text/javascript" src="{{ url_for('serve_static_js', filename = 'homepage.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('serve_static_css', filename='main_homepage.css') }}">
  </head>
  <body>
    <div>
      <ul>
        <li>
          <span>Already a user? Complete a sign up form to unlock supreme saving strategies with thousands of interesting challenges and gifts!</span>
          <a href="{{ url_for('signup') }}">Treasure Hunt</a>
        </li>  
        <li>
          <span>New user? Sign up with us to become a diligent saver!</span>
          <a href="{{ url_for('registration') }}">Register</a>
        </li>
      </ul>
    </div>
  </body>
</html>