<!DOCTYPE html>
<html>
  <body>
    <div class="header">
      <h1>
        You have unlocked Treasure Hunt feature! Let's hop on an adventure with us towards your saving goals!!! 
      </h1>
      <p style="color: red;">
        Note: Treasure Hunt feature is still in development and will coming soon! 
      </p>
    </div>
    <div class="content-block">
      <ul>
        <li>
          <a href="{{ url_for('mainHomePage') }}">Home</a><br>
        </li>
      </ul>
    </div>
  </body>
</html>