<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script type="text/javascript" src="{{ url_for('serve_static_js', filename = 'identification.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('serve_static_js', filename = 'ageCalculation.js') }}"></script>
  </head>
  <body>
    <form id="signupform" action = "{{ url_for('createAccount') }}" method = 'POST'>
      <h1></h1>
        
      <div>
        <label for="fname">First Name(*):</label><br>
        <input type="text" name = "fname"/><br>
        <p>Maximum of 100 characters!</p>
        {% if request.method == 'POST' and error_message.get('fname') %}
          <span class="error" style="color:red;">{{ error_message['fname'] }}</span>
        {% endif %}

        <label for="mname">Middle Name:</label><br>
        <input type="text" name = "mname"/><br>
        <p>Maximum of 100 characters!</p>

        <label for="lname">Last Name(*):</label><br>
        <input type="text" name = "lname"/><br>
        <p>Maximum of 100 characters!</p>
        {% if request.method == 'POST' and error_message.get('lname') %} 
          <span class="error" style="color:red">{{ error_message['lname'] }}</span>
        {% endif %}
      </div>
      
      <div>
        <label for="birthday">Date Of Birth(*):</label><br>
        <p>Format: (yyyy-mm-dd)</p><br>
        <p>Note: You must be at least 18 to register for an online banking account!</p><br>
        <input type="date" name="birthday" id="birthday" required onchange="calculateAge()"/><br>
        {% if request.method == 'POST' and error_message.get('birthday') %} 
          <span class="error" style="color:red;">{{ error_message['birthday'] }}</span>
        {% endif %}

        <label for="age">Age(*):</label><br>
        <p>Your age is: <span id="age" name="age"></span></p>
        <input type="hidden" id="age-input" name="age"/>
        {% if request.method == 'POST' and error_message.get('age-input') %} 
          <span class="error" style="color:red;">{{ error_message['age'] }}</span>
        {% endif %}   
      </div>

      <div>
        <label for="address1">Address Line 1(*):</label><br>
        <textarea name = "address1"></textarea><br>

        {% if request.method == 'POST' and error_message.get('address1') %} 
          <p class="error" style="color:red;">{{ error_message['address1'] }}</p>
        {% endif %}
        
        <label for="address2">Address Line 2:</label><br>
        <p>Please indicates any buiding</p>
        <textarea name = "address2"></textarea><br>

        {% if request.method == 'POST' and error_message.get('address1') %} 
          <p class="error" style="color:red;">{{ error_message['address1'] }}</p>
        {% endif %}
  
        <label for="city">City(*):</label><br>
        <input type="text" name="city"/><br>

        {% if request.method == 'POST' and error_message.get('address1') %} 
          <p class="error" style="color:red;">{{ error_message['address1'] }}</p>
        {% endif %}
  
        <label for-="province">Province/State(*):</label><br>
        <input type="text" name="province"/><br>

        {% if request.method == 'POST' and error_message.get('address1') %} 
          <p class="error" style="color:red;">{{ error_message['address1'] }}</p>
        {% endif %}
  
        <label for="country">Country(*):</label><br>
        <input type="text" name="country"/><br>

        {% if request.method == 'POST' and error_message.get('address1') %} 
          <p class="error" style="color:red;">{{ error_message['address1'] }}</p>
        {% endif %}
  
        <label for="postal_code">Postal Code(*):</label><br>
        <input type="text" name="postal_code"/><br>

        {% if request.method == 'POST' and error_message.get('address1') %} 
          <p class="error" style="color:red;">{{ error_message['address1'] }}</p>
        {% endif %}
      </div>
    
      <!-- Get the gender options boxes -->
      <div>
        <label for="gender_id">Please select your gender: </label>
        <select name="gender_id">
          {% for option in gender_options %} 
          <option value="{{ option.id }}"
            {% if option.id == default_value %} selected
            {% endif %}>
            {{ option.gender_options }}
          </option>
          {% endfor %}   
        </select><br>
        {% if request.method == 'POST' and error_message.get('gender_id') %} 
          <span class="error" style="color:red;">{{ error_message['gender_id'] }}</span>
        {% endif %}
      </div>
      
    
      <label>Religion:</label><br>
      <input type="text" name="religion"/><br>
      
      <!-- Get the identification options boxes -->
      <div>
        <label for="identification_id">Please choose one of the following options for verification:</label>
        <label>All documents must be official and unaltered. If we detect any tampering or alteration of the documents, your verification will be denied.</label>
        <select name="identification_id" id="id_type">
          {% for option in identification_options %} 
          <option value="{{ option.id }}"
            {% if option.id == default_value %} selected
            {% endif %}>
            {{ option.identification_options }}
          </option>
          {% endfor %}
        </select><br> 
        {% if request.method == 'POST' and error_message.get('identification_id') %} 
          <span class="error" style="color:red;">{{ error_message['identification_id'] }}</span>
        {% endif %}
      </div>

      <p id="message"></p>
      <input type="text" id="id_number" name="id_number" style="display: none;"/><br>
      {% if request.method == 'POST' and error_message.get('id_number') %}
        <span class="error" style="color:red;">{{ error_message['id_number'] }}</span>
      {% endif %} 
      <!-- Submit button for user to submit the form  -->
      <input type="submit" value="Submit"/><br>
    </form>
  </body>
</html>
