<!-- This is the page where users can navigate through each categories such as user_information, study_preference,... to upload or update their profile -->
<!DOCTYPE html>
<html>
 <head id="page-head">
  <title id="page-title">
   Profile
  </title>
 </head>
 <body>
  <h1>
   Welcome to your profile, {{ username }}
  </h1>
  <h2>
   This is where us as well as your future study mates will get to know more about you!
  </h2>
  <h3>
   Let's get started on building your own profile and find the best study group that match your needs!
  </h3>
  <div class="page-body">
   <section class="nav-links">
    <ul>
     <li>
      <a href="{{ url_for('') }}">Your information</a>
     </li>
     <li>
      <a href="{{ url_for('') }}">Your education</a>
     </li>
     <li>
      <a href="{{ url_for('') }}">Your study preferences</a>
     </li>
     <li>
      <a href="{{ url_for('') }}">Your schedule</a>
     </li>
     <li>
      <a href="{{ url_for('') }}">Your communication methods</a>
     </li>
     <li>
      <a href="{{ url_for('') }}">Your recent activities</a>
     </li>
    </ul>
   </section>
  </div>
 </body>
</html>
