<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <title>
   ScholarSavings Registration
  </title>
  <script type="text/javascript" src="{{ url_for('serve_static_js', filename = 'registration.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('serve_static_css', filename = 'registration.css') }}"/>
 </head>
 <body>
  <div class="header">
   <h1 id="first-header">
    Welcome to ScholarSavings - "Unlock Your Financial Potential with ScholarSavings"!
   </h1>
   <h2 id="second-header">
    New User? Want to become one of the ScholarSaver?
   </h2>
   <h3 id="third-header">
    Please fill in the form to join us!
   </h3>
  </div>
  <form action="{{ url_for('registerNewUser') }}" method='POST' id="registration-form">
   <label for="username">Username:</label><br>
   <input type="text" name="username" value="{{ validated_fields.get('username', '') }}" id="username" required/><br>
   {% if request.method == 'POST' and errors.get('username') %} 
    <span class="error" style="color:red;">{{ errors['username'] }}</span><br>
   {% endif %}

   <label for="password">Password:</label><br>
   <input type="password" name="password" id="password" value="{{ validated_fields.get('password', '') }}" required/><br>
   {% if request.method == 'POST' and errors.get('password') %} 
    <span class="error" style="color:red;">{{ errors['password'] }}</span><br>
   {% endif %}

   <label for="re-enter-password" required>Re-enter password:</label><br>
   <input type="password" name="password-confirmation" id="password-confirmation" value="{{ validated_fields.get('password_confirmation', '') }}" required/><br>
   {% if request.method == 'POST' and errors.get('password-confirmation') %} 
    <span class="error" style="color:red;">{{ errors['password-confirmation'] }}</span><br>
   {% endif %}
 
   <!-- Get the verification methods options box -->
   <div>
    <label for="verification_id">
     Please choose one of the following for verification method:
    </label>
    <select name="verification_id" id="id_type" required>
     {% for option in verification_options %} 
     <option value="{{ option.id }}" {% if option.id == verification_id %} selected {% endif %}>
      {{ option.verification_options }}
     </option>
     {% endfor %} 
    </select>
    {% if request.method == 'POST' and errors.get('verification_id') %} 
     <span class="error" style="color:red;">{{ errors['verification_id'] }}</span><br>
    {% endif %}
   </div>

   <div id="verification-input">
    <p id="message"></p><br>
    <label for="area-code" id="area-code-label" style="display: none;">Area Code:</label>
    <select id="area-code" name="phone-number-areacode" style="display: none;">
     <option value="+1">
      +1
     </option>
     <option value="+44">
      +44
     </option>
    </select>
    <input type="text" id="verification_method" name="verification_method" style="display: none;" required/><br>
    {% if request.method == 'POST' and errors.get('verification-input') %} 
     <span class="error" style="color:red;">{{ errors['verification-input'] }}</span><br>
    {% endif %}
   </div>

   <!-- Submit button for user to submit the form  -->
   <input type="submit" value="Register"/>
  </form>
 </body>
</html>