<!DOCTYPE html>
<html lang="en">
 <head>
  <meta>
  <title>Search Page</title>
 </head>
 <body>
  {% extends 'main_homepage.html' %} 

  {% block content %} 
  <div class="search-container">
   <form action="{{ url_for('search') }}" method="GET">
    <input type="text" name="query" placeholder="Search...">
    <button type="submit"><i class="fa fa-search"></i></button>
   </form>
  </div>

  {% if query %} 
   <div class="search-results-container">
    <h2>Search Results for "{{ query }}"</h2>
    {% if unique_links|length > 0 %} 
     <ul>
      {% for url, title in unique_links.items() %} 
       <li><a href="{{ url }}">{{ title }}</a></li>
       <!-- This line will make sure that the same links will be get rid of -->
      {% endfor %}
     </ul>
    {% else %} 
     <p>No results found!</p>
    {% endif %}
   </div>
  {% endif %}
  {% endblock %}
 </body>
</html>